bin/Debug/net7.0/DragAndDropProject.dll
bin/Debug/net7.0/DragAndDropProject.pdb
obj/Debug/net7.0/DragAndDropProject.AssemblyInfo.cs
obj/Debug/net7.0/DragAndDropProject.AssemblyInfoInputs.cache
obj/Debug/net7.0/DragAndDropProject.dll
obj/Debug/net7.0/DragAndDropProject.pdb
obj/Debug/net7.0/DragAndDropProject.sourcelink.json
obj/Debug/net7.0/ref/DragAndDropProject.dll
obj/Debug/net7.0/refint/DragAndDropProject.dll
bin/Debug/net7.0/DragAndDropProject.dll
bin/Debug/net7.0/DragAndDropProject.pdb
obj/Debug/net7.0/DragAndDropProject.AssemblyInfo.cs
obj/Debug/net7.0/DragAndDropProject.AssemblyInfoInputs.cache
obj/Debug/net7.0/DragAndDropProject.dll
obj/Debug/net7.0/DragAndDropProject.pdb
obj/Debug/net7.0/DragAndDropProject.sourcelink.json
obj/Debug/net7.0/ref/DragAndDropProject.dll
obj/Debug/net7.0/refint/DragAndDropProject.dll
/.vs
/bin/Debug/net7.0
/obj/Debug/net7.0
